* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #222;
    margin: 0;
    padding: 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 2rem;
}

input, textarea {
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fafafa;
    color: #222;
}
textarea {
    resize: vertical;
    height: 100px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-voltar {
    background-color: #555;
    color: #fff;
    padding: 10px 14px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.btn-sair {
    background-color: #e53935;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    position: fixed;
    top: 1rem;
    right: 1rem;
    transition: background-color 0.3s ease;
}

.btn-sair:hover {
    background-color: #b71c1c;
}

.btn-excluir {
    background-color: #e53935;
    color: white;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 0.8rem;
}

.btn-excluir:hover {
    background-color: #b71c1c;
}


#estandes-lista .estande {
    display: flex;
    background-color: #fff;
    color: #000;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    gap: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    align-items: stretch;
}

#estandes-lista .estande img {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

#estandes-lista .estande-conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#estandes-lista .estande-conteudo h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#estandes-lista .estande-conteudo p {
    margin: 0.3rem 0;
    line-height: 1.4;
}
.btn-feedback {
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-feedback:hover {
    background-color: #45a049;
}

